[user]
	email = diego@faunatech.io
	name = Diego Aldarondo
[init]
  defaultBranch = main
[push]
  default = current
[alias]
  pre = pull --rebase
[merge]
  ff = only
[fetch]
  prune = true
[core]
  editor = code --wait
